
.App {
  text-align: center;
  background-color: #BF281C;
  box-sizing: border-box;
  /* height: 1000px; */
  
}

.container{
  /* background-color: yellow; */
  color: white;
  display: block;
}

.container p{
  font-size: 18px;
  /* background-color: green; */
  margin: 10px 20px;
  font-weight: 400;
}

.nav-container{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  justify-content: space-between;
  /* background-color: purple; */
}

.eventDate{
  /* background-color: green; */
  margin-left: 10%;
  padding: 20px;

}

.eventDate img{
  max-width: 25em;
  width: 80vw;
  margin: auto;
}

.nav-links{
  /* background-color: blue; */
  margin-right: 10%;

}

.nav-links ul{
  /* background-color: greenyellow; */
  width: 100%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  margin-right: 10%;

}

.nav-links ul li {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0%;
  /* background-color: aqua; */
}

.nav-links ul li a{
  /* background-color: yellow; */
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
}

@media screen and (max-width: 830px) {

  .eventDate{
    margin-left: 0%;
    margin-right: 3%;
    padding: 5px;
    justify-content: center;
    text-align: center;
  }

  .eventDate img{
    background-color: yellow;
    width: 100%;

  }


.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.nav-links{
  background-color: aqua;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-links ul {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  margin: 1%;
  min-width: 15px;
}

.nav-links ul li {
  background-color: olivedrab;
  /* margin-right: 1%;
  margin-left: 0 !important; */
  margin: 1% 0;
  width: 80%;
  justify-content: space-evenly;
}

.nav-links ul li a{
  background-color: blue;
  font-size: 15px;
  margin: 3px;
  padding: 0px;
}

/* Venue js */

}
.venue{
  border: 1px solid white;
  margin: 0px 10%;
  display: flex;
  flex-direction: column;
  border-top: none;
}

.venue h1{
  /* background-color: green; */
  font-weight: 800;
  color: white;
  font-size: 70px;
}

.venue p{
  /* background-color: green; */
  color: white;
  font-weight: 400;
  font-size: 40px;
}

.venue-link {
  text-decoration: none;
  color: white;
}

.venue-link:hover{
  text-decoration: underline;

}
.venue button{
  min-width: 150px;
  background: rgba(239, 239, 239, 0.3);
  color: rgba(255, 255, 255, 0.3);
  border: 0;
  margin: 10px 45%;
  padding: 10px;
  border-color: rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3);
}

.description{
  border: 1px solid white;
  margin: 0px 10%;
  border-top: none;

}

.description p{
  /* background-color: yellow; */
  margin: 10px 19%;
  padding: 10px;
  line-height: 1.5;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.venue-container{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:830px){

  .venue h1{
    background-color: green;
    font-size: 50px;
    padding: 5px;
    margin: 5px;

  }

  .venue button{
    margin: 5px 15px;
    min-width: 30px;
    background-color: yellow;
  }

  .description p{
    white-space: normal;
  }
}
 /* Speakers */

 .speakers{
  border: 1px solid white;
  margin: 0px 10%;
  
 }

 .speaker-title h2{
  color: white;
  font-weight: 900;
  font-size: 40px;
  width: 20%;
  margin-left: 5%;
  padding: 10px;
  background-color: green;

 }

 .mySpeakers{
  background-color: yellow;
  height: 200px;
 }

 .speakers a{
  background-color: #A386FF;
  border: 0.7px solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
  margin-left: -89%;
  
 }

 .celebration-container{
  margin: 0px 10%;
  border: 1px solid white;
  border-top: none;
  display: flex;
  flex-direction: row;
  /* background-color: #F8DBDB; */
 }

 .celebration-container-small{
  background-color: #F8DBDB;
  padding: 20px;
  margin: 5%;

 }

 .celebration{
  width: 30%;
 }

 .celebration h2{
  color: #3B1D62;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  margin: 30px;
  /* background-color: aqua; */
 }

 .milestone{
  text-align: left;
 }

 .milestone p{
  /* background-color: yellow; */
  padding: 10px;
  color: #BF281C;
  margin: 20px 0;
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 700;
 }

 .milestone button{
  background-color: transparent;
  background-color: #BF281C;
  margin: 20px;
  padding: 10px 39px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border: 0.7px solid white;
  
 }

 /* Sponsors-styles of the sponsors container */

 .sponsors-container{
  margin: 0px 10%;
  /* border: 1px solid white;
  border-top: none; */
  text-align: left;
  color: white;
 }

 .thankYou{
  /* background-color: yellow; */
  padding: 20px;
  margin: 0 5%;
 }

 .thankYou h2{
  font-size: 45px;
 }

 .thankYou p{
  font-size: 23px;
  padding: 0 0 45px;
  /* background-color: yellow; */
 }

 .bordered-container{
  background-color: #3B1D62;
  padding: 20px;
  margin: 0 5%;
 }

 .flex-container{
  background-color: #A386FF;
 }

 .sponsors{
  background-color: aqua;
  margin: 15px 10px;
  padding: 5px;
  text-align: center;
 }

 .sponsors img{
  height: 60px;
  margin: 10px;
 }

 .babbel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 15px 5%;
  /* background-color: greenyellow; */
 }

 .rest-of-sponsors{
   background-color: greenyellow;
 }


 /* Footer */

 .myFooter{
  color: white;
  line-height: 150%;
 }






