@import url(https://db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);

.App{
  background-color: #bf281c;
  margin: 0;
  padding: 0;
  font-family: "Acumin Variable Concept",Arial, Helvetica, sans-serif;
}